{{template "header" .}}
{{template "navbar" .}}
<div class="container">
    <h1>分类列表</h1>
    {{if .LoginReady}}
    <form class="form-inline" role="form" method="GET" action="/category">
        <div class="form-group">
            <input id="cname" name="cname" class="form-control" placeholder="Enter category name">
        </div>
        <button class="btn btn-default" type="submit" onclick="return checkInput();">添加分类</button>
    </form>
    <script type="text/javascript">
        function checkInput() {
            var name = document.getElementById("name");
            if (name.value.length == 0) {
                alert("请输入分类名称");
                return false;
            }
            return true;
        }
    </script>
    {{end}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>分类名称</th>
            <th>文章数</th>
            {{if .LoginReady}}
            <th>操作</th>
            {{end}}
        </tr>
        </thead>
        {{range .Categories}}
        <tbody>
        <th>{{.Id}}</th>
        <th>{{.Title}}</th>
        <th>{{.TopicCount}}</th>
        {{if $.LoginReady}}
        <th><a href="/category/delete/{{.Id}}">删除</a></th>
        {{end}}
        </tbody>
        {{end}}
    </table>
</div>
{{template "footer" .}}