{{template "header" .}}
{{template "navbar" .}}
<div class="container">
    <h1>{{.Topic.Title}}
        {{if .SigninReady}}
        <a href="/topic/modify/{{.Tid}}" class="btn btn-default">修改文章</a>
        {{end}}
    </h1>
    <div>
    {{.Topic.Content}}
    </div>
    <label>文章附件: [ <a href="/attachment/{{.Topic.Id}}/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a> ]</label>
</div>
<div class="container">
    {{$tid := .Topic.Id}}
    {{range .Replies}}
    <h3>{{.Name}} <small>{{dateformat .Created "2006-01-02 15:04:05"}} {{if $.SigninReady}}<a href="/reply/delete/{{.Id}}">删除</a>{{end}}</small></h3>
    {{.Content}}
    {{end}}
</div>
<div class="container">
    <h3>本文回复</h3>
    <form role="form" method="POST" action="/reply/add">
        <input type="hidden" name="tid" value="{{.Topic.Id}}">
        <div class="form-group">
            <label>显示昵称</label>
            <input id="nickname" name="nickname" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>内容:</label>
            <textarea  id="content" name="content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">提交回复</button>
    </form>
    <script type="text/javascript">
        function checkInput() {
            var nickname = document.getElementById("nickname");
            if (nickname.value.length == 0) {
                alert("请输入昵称");
                return false;
            }
            var content = document.getElementById("content");
            if (content.value.length == 0) {
                alert("请输入评论内容");
                return false;
            }
        }
    </script>
</div>
{{template "footer" .}}