{{template "header" .}}
<div class="container">
    <h1>修改文章</h1>
    <form role="form" enctype="multipart/form-data" method="POST" action="/topic/modify">
        <input type="hidden" name="tid" value="{{.Topic.Id}}">
        <label>文章标题:</label>
        <div class="form-inline">
            <input id="title" name="title" class="form-control" type="text" value="{{.Topic.Title}}">
            <select id="category" name="category" class="form-control">
                <option value="-1">文章分类</option>
                {{range .Categories}}
                {{if eq .Id $.Cid}}
                <option value="{{.Id}}" selected="true">{{.Title}}</option>
                {{else}}
                <option value="{{.Id}}">{{.Title}}</option>
                {{end}}
                {{end}}
            </select>
        </div>
        <div class="form-group">
            <label>文章内容:</label>
            <textarea id="content" name="content" cols="30" rows="10" class="form-control">{{.Topic.Content}}</textarea>
        </div>
        <div class="form-group">
            <label>文章附件: [ <a href="/attachment/{{.Topic.Id}}/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a> ]</label>
            <input name="attachment" class="form-control" type="file">
        </div>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">修改文章</button>
        <button class="btn btn-default" onclick="return backToTopic();">返 回</button>
    </form>
    <script type="text/javascript">
        function checkInput() {
            var title = document.getElementById("title");
            if (title.value.length == 0) {
                alert("请输入文章标题");
                return false;
            }
            var category = document.getElementById("category");
            if (category.value.length == 0) {
                alert("请输入文章分类");
                return false;
            }
            var content = document.getElementById("content");
            if (content.value.length == 0) {
                alert("请输入文章内容");
                return false;
            }
            if ('-1' == $('#category').val()) {
                alert("请选择文章分类");
                $('#category').focus();
                return false;
            }
            return true;
        }
        function backToTopic() {
            window.location.href = "/topic";
            return false;
        }
    </script>
</div>
{{template "footer" .}}